html, body {
  height: 100%;
}

body {
  font-size: 14px;
  text-rendering: optimizeLegibility;
}

svg {
  display: block;
  overflow: hidden;
}

code, tt, pre {
  font-family: Courier;
}
/*
p + p {
  text-indent: 2em;
  margin-top: -1.5em;
}

form p + p {
  text-indent: 0;
}
*/
a {
  text-decoration: none;
  color: black;
}

a:link, a:visited {
  color: steelblue;
}

a:hover {
  text-decoration: underline;
}

a.active {
  color: #aaa;
}

.top {
  padding-top: 15px;
}

.top a {
  margin-right: 20px;
}

.top a, a.bold {
  font-weight: bold;
  line-height: 100%;
}

.blurb {
  font-size: 22px;
}

.light, .sidebar, .sidebar h4, .blurb, .credits, #copy {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

img.ex {
  padding: 0;
  border: 0;
  margin-right: 2px;
  margin-bottom: 2px;
  width: 140px;
  height: 140px;
}

.logo img, .logo svg, img.ex {
  float: left;
}

.svg .logo img {
  display: none;
}

.logo .poly {
  fill: none;
  stroke: black;
}

.logo .maps {
  fill: black;
  stroke: none;
}

.hi {
  background: #ff9;
}

.sidebar {
  position: absolute;
}

.sidebar h4 {
  text-align: right;
  color: #aaa;
}

.sidebar ul {
  text-align: right;
  margin-right: 0;
  list-style-type: none;
}

.credits {
  position: fixed;
  bottom: 0;
  padding-bottom: 1em;
  padding-top: 2em;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(#fff), color-stop(.3, #fff));
  background: -moz-linear-gradient(top, rgba(255,255,255,0), #fff 30%);
}

dl.function dt, dl.function i {
  font-family: Courier;
}

dl.function i {
  color: #936;
}

div#map {
  position: relative;
  border: solid 4px #ccc;
  background: #eee;
  height: 500px;
}

#copy {
  color: #999;
  font-size: 12px;
  height: 1em;
}

.compass .back {
  fill: #eee;
  fill-opacity: .8;
}

.compass .fore {
  stroke: #999;
  stroke-width: 1.5px;
}

.compass rect.back.fore {
  fill: #999;
  fill-opacity: .3;
  stroke: #eee;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.compass .direction {
  fill: none;
}

.compass .chevron {
  fill: none;
  stroke: #999;
  stroke-width: 5px;
}

.compass .zoom .chevron {
  stroke-width: 4px;
}

.compass .active .chevron, .compass .chevron.active {
  stroke: #fff;
}

.compass.active .active .direction {
  fill: #999;
}

button.minimal-indent {
  background-color: #f3f3f3;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(50%, #dddddd), color-stop(50%, #d2d2d2), color-stop(100%, #dfdfdf));
  background-image: -webkit-linear-gradient(top, #f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%);
  background-image: -moz-linear-gradient(top, #f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%);
  background-image: -ms-linear-gradient(top, #f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%);
  background-image: -o-linear-gradient(top, #f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%);
  background-image: linear-gradient(top, #f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%);
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #b4b4b4;
  border-right: 1px solid #dfdfdf;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #d5d5d5, 0 -1px 2px 1px #efefef;
  box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #d5d5d5, 0 -1px 2px 1px #efefef;
  color: #666;
  font: bold 16px/1 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0;
  /*
 "helvetica neue", helvetica, arial, sans-serif;
  padding: 7px 0;
  */
  text-shadow: 0 1px 1px #fff;
  width: 150px; }
  button.minimal-indent:active {
  -webkit-box-shadow: inset 0 0 30px 0 #999999, 0 1px 0 0 white;
  box-shadow: inset 0 0 30px 0 #999999, 0 1px 0 0 white; }
  button.minimal-indent:disabled {
  -webkit-box-shadow: inset 0 0 30px 0 #111111, 0 1px 0 0 #111;
  box-shadow: inset 0 0 30px 0 #111111, 0 1px 0 0 #111; }
